<p>
    Na osnovu članova od 68. do 75. Zakona o radu („Službeni glasnik RS“, broj
    24/5, 61/53,54/09, 32/13 i 75/14) i Pravilnika o radu KPMG d.o.o. Beograd,
    KPMG d.o.o. Beograd (u daljem tekstu Poslodavac), donosi sledeće
</p>
<p align="center">
    <strong> </strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p align="center">
    <strong>R E Š E NJ E</strong>
</p>
<p align="center">
    <strong>o korišćenju godišnjeg odmora</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>1. </strong>
    Zaposlenom _____________________ (u daljem tekstu Zaposleni) <strong>,</strong> određuje se korišćenje godišnjeg
    odmora za 2016. godinu,
    u trajanju od ukupno [odrediti broj dana u skladu sa Pravilnikom o radu]
    radni dan. Zaposleni će koristiti deo godišnjeg odmora za 2016. godinu u
    trajanju od ______ radna dana, od ____________ do ______________ .
</p>
<p>
    <strong>2. </strong>
    Preostali godišnji odmor za 2016. godinu, Zaposleni će iskoristiti do
    30.06.2017. godine, a saglasno zahtevu Zaposlenog odobrenom od strane
    neposrednog rukovodioca (performanse manager).
</p>
<h3>
    O b r a z l o ž e nj e
</h3>
<p>
    <strong> </strong>
</p>
<p>
    Dužina godišnjeg odmora Zaposlenog određena je na osnovu kriterijuma
    utvrđenih Zakonom o radu i Pravilnikom o radu KPMG d.o.o. Beograd, kao i na
    osnovu podataka iz dosijea Zaposlenog, a na osnovu rasporeda korišćenja
    godišnjeg odmora kod Poslodavca, te je doneto rešenje kao u dispozitivu.
</p>
<h2>
</h2>
<h2>
    <strong>Pouka o pravnom leku: </strong>
</h2>
<p>
    Protiv ovog rešenja Zaposleni ima pravo da pokrene spor kod nadležnog suda
    radi zaštite svojih prava, u roku od 60 dana od dana dostavljanja rešenja.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    Dostavljeno: KPMG d.o.o. Beograd
</p>
<p>
    - 1 primerak Zaposlenom
</p>
<p>
    - 1 primerak za Odsek ljudskih resursa
</p>
<p>
    _________________________
</p>
<p>
    <strong> </strong>
</p>
<p>
    Primio Zaposleni dana ________. godine
</p>
<p>
    potpis: ________________________
</p>
<p>
    Zaposleni _______________
</p>
